.serach-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;

}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

#ajouter{
    -fx-background-color: #5e0493;
    -fx-background-radius: 50;
}

#updateButton{
    -fx-background-color: darkorange;
    -fx-text-fill: white;
    -fx-background-radius: 50;
}

#afficher{
    -fx-background-color: rgba(14, 33, 143, 0.85);
    -fx-text-fill: white;
    -fx-background-radius: 50;
}

#ajt{
    -fx-background-color: rgb(50, 203, 22);
    -fx-text-fill: white;
    -fx-background-radius: 50;
}

.serach-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.3), 15.0, 0.0, 0.0, 15.0);
}

.updateInput{
    -fx-background-radius: 15;
   -fx-min-height: 30;
}
.label-l1{
    -fx-label-padding: 80;
}
.card {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-margin-top: 10px;
}

.card:hover {
    -fx-background-color: #f9f9f9;
    -fx-cursor: hand;
}
