#tableView {
    -fx-background-color: rgba(145, 10, 138, 0.82);
    --block-text-color: red;
}

#tableView .column-header {
    -fx-background-color: #901818;
}

#tableView .column-header .label {
    -fx-font-weight: bold;
}

#tableView .table-row-cell {
    -fx-background-color: #33a120;
}

#tableView .table-row-cell:odd {
    -fx-background-color: rgba(33, 46, 114, 0.85);

    #tableView .table-row-cell:selected {
        -fx-background-color: #cceeff;
    }

    #tableView .table-row-cell .table-cell {
        -fx-alignment: center;
    }

    #ajouter {
        -fx-background-color: #007bff;
        -fx-text-fill: #ffffff;
        -fx-border-radius: 5px;
    }
}